%h1 Forums

%table
  %tr
    %th Name
    %th
    %th

  - @forums.each do |forum|
    %tr
      %td.name= link_to forum.name, forum
      - if is_admin?
        %td= link_to 'Edit', edit_forum_path(forum)
        %td= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete

%br

- if is_admin?
  = link_to 'New Forum', new_forum_path
