.clear { clear: both; }

/* Layout */

#container { }

#header { background-color: #696; color: #fff; padding: 1em 1.5em 0em; height: 4em; }
#header #logo { float: left; }
#header h1 { color: white; font-size: 2em; font-family: "Franklin Gothic", "Courier"; letter-spacing: 2px; text-transform: uppercase; padding: 0; margin: 0; }
#header h1 a, #header h2 a { color: #efe; text-decoration: none; }
#header h1 a:hover, #header h2 a:hover { background-color: transparent; color: #ffa; }
#header h2.byline { color: white; font-size: 1.3em; font-weight: normal; font-family: serif; font-style: italic; margin: 5px 0 0 0; }
#header h2 a.read_more { text-decoration: underline; margin-left: 5px; font-size: 86%; }

#header #navigation { text-align: right; margin-top: -6px; }
#header #navigation .email { font-family: serif; font-style: italic; font-size: 12pt; }
#header #navigation ul li { display: inline; font-size: 10pt; }
#header #navigation ul li a { padding: 2px 0px 1px; text-decoration: none; color: #fff; margin-right: 5px; margin-left: 2px; border-bottom: 1px dotted #a0a0a0; font-family: "Andale Monaco", serif; font-size: 12pt; }
#header #navigation ul li a:hover { background-color: #ffa; color: #444; }

#footer { font-size: 8pt; color: #ccc; margin-top: 7em; padding: 1em 1em; text-align: right; }
#footer a { color: #aaa; }

/* Sub-header */
.flash { padding: 1em 2em; }
.flash.notice  { background-color: #ffe; color: #555; }
.flash.alert   { background-color: #eaa; color: #fff; }

#actions { background-color: #eee; height: 34px; overflow: hidden; border-bottom: 1px solid #bbb; }
#actions #search { float: right; padding: 7px 10px 0 0; }
#actions #search input#q { color: #aaa; font-size: 8pt; }
#actions #links { padding: 7px 0 0 15px; }
#actions #links a { display: inline; margin-right: 5px; font-size: 9pt; background-color: #F0F070; color: #555; border: 1px solid #cfcfcf; padding: 5px 5px 3px; text-decoration: none; font-weight: bold; font-family: sans-serif; }
#actions #links a:hover { background-color: #ffa; color: #444; }

/* Main */
#content { padding: 0.5em 4em 0 0.5em; }
#content a:hover { background-color: #ffa; color: #555; }

#content .empty { font-size: 16pt; }
#content a.button { background-color: #666; color: #fff; padding: 0.4em 0.5em; text-decoration: none; }
#content a.button:hover { background-color: #f0f; }

#content .new { margin: 1em 0em 3em; }

#content .threads { font-size: 11pt; }
#content .threads li { line-height: 1.3em; margin-bottom: 20px; }
#content .threads li a { margin-left: 1px; margin-right: 0px; }
#content .threads li ul.posts li { line-height: 2em; font-size: 8pt; margin: 0; }
#content .threads li ul.posts li:first-child { margin-top: 0.6em; }

#content .threads .reply.thread_reply a { font-size: 8pt; text-decoration: none; border-bottom: 1px dotted #faf; }
#content .threads span.meta { color: #c4c4c4; font-size: 8pt; margin-left: 4px; }
#content .threads span.reply_count { color: #999; }
#content .threads span.created_at {  }

#content .threads a.action { font-weight: normal; text-decoration: none; font-size: 7pt; border-bottom: 1px dotted #faf; }
#content .threads a.reply { color: #993; }
#content .threads a.sticky { color: #939; }
#content .threads a.permalink { color: #399; }


