.clear { clear: both; }
.centered { margin: 0 auto; }
.half { width: 49%; }
#facebox .half { width: 100%; } /* lame reset */

/* Layout */

#container { }

#header { background: #225; color: #fff; padding: 1em 1.5em 0em; height: 4em; }
#header #logo { float: left; }
#header h1 { color: white; font-size: 2em; font-family: "Franklin Gothic", "Courier"; letter-spacing: 2px; text-transform: uppercase; padding: 0; margin: 0; }
#header h1 a, #header h2 a { color: #efe; text-decoration: none; }
#header h1 a:hover, #header h2 a:hover { background-color: transparent; color: #ffa; }
#header h2.byline { color: white; font-size: 1.3em; font-weight: normal; font-family: serif; font-style: italic; margin: 5px 0 0 0; }
#header h2 a.read_more { text-decoration: underline; margin-left: 5px; font-size: 86%; }

#header #navigation { text-align: right; margin-top: -6px; }
#header #navigation .email { font-family: serif; font-style: italic; font-size: 12pt; }
#header #navigation ul li { display: inline; font-size: 10pt; }
#header #navigation ul li a { padding: 2px 0px 1px; text-decoration: none; color: #fff; margin-right: 5px; margin-left: 2px; border-bottom: 1px dotted #a0a0a0; font-family: "Andale Monaco", serif; font-size: 12pt; }
#header #navigation ul li a:hover { background-color: #ffa; color: #444; }

#header #search { float: right; padding: 7px 10px 0 20px; }
#header #search input#q { color: #aaa; font-size: 8pt; }


#footer { font-size: 8pt; color: #ccc; margin-top: 7em; padding: 1em 1em; text-align: right; }
#footer a { color: #aaa; }

/* Sub-header */
.flash { padding: 1em 2em; }
.flash.notice  { background-color: #ffe; color: #555; }
.flash.alert   { background-color: #eaa; color: #fff; }

#actions { background-color: #334; height: 34px; overflow: hidden; /*border-bottom: 1px solid #bbb;*/ }
#actions #links { float: left; padding: 7px 0 0 5px; }
#actions #links a, a.yellow.button { display: inline; margin-right: 5px; font-size: 9pt; background-color: #F0F070; color: #555; border: 1px solid #cfcfcf; padding: 5px 5px 3px; text-decoration: none; font-weight: bold; font-family: sans-serif; }
#actions #links a:hover, a.yellow.button:hover { background-color: #ffa; color: #444; }

#actions .sections { float: left; margin-left: 12px; margin-top: 8px; margin-right: 10px; }
#actions .sections a { color: #fff; font-weight: bold; padding: 20px 10px 10px; margin: 0 4px 0 0; text-decoration: none; font-size: 12pt; font-family: sans-serif; }
#actions .sections a:hover { background-color: transparent; color: #ffa; }
#actions .sections a.current { background-color: #fff; color: #222; border-bottom: 0; }
#actions .sections a.current:hover { background-color: #fff; color: #7a7; }

/* Main */
#content { padding: 0.5em 4em 0 0.8em; }
#content a:hover { background-color: #ffa; color: #555; }

#content .empty { font-size: 16pt; }
#content a.button { background-color: #666; color: #fff; padding: 0.4em 0.5em; text-decoration: none; }
#content a.button:hover { background-color: #f0f; }

#content .new { margin: 1em 0em 3em; }

#content .threads { font-size: 11pt; }
#content .threads li { line-height: 1.3em; margin-bottom: 20px; }
#content .threads li a { margin-left: 1px; margin-right: 0px; }
#content .threads li ul.posts { padding-left: 1em; }
#content .threads li ul.posts li { line-height: 2em; font-size: 8pt; margin: 0; list-style: disc; }
#content .threads li ul.posts li:first-child { margin-top: 0.6em; }

#content .threads .reply.thread_reply a { font-size: 8pt; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #faf; }
#content .threads span.meta { color: #c4c4c4; font-size: 8pt; margin-left: 4px; }
#content .threads span.reply_count { color: #999; }
#content .threads span.created_at { visibility: hidden; }
#content .threads li:hover span.created_at { visibility: visible; }


#content .threads a.action { font-weight: normal; text-decoration: none; font-size: 7pt; border-bottom: 1px dotted #faf; }
#content .threads a.reply { color: #993; }
#content .threads a.sticky { color: #939; }
#content .threads a.permalink { color: #399; }

/* Left-right pane styles... shoutouts to #newtwitter */
#sidebar { background-color: #f9f9f9; font-size: 8pt; padding: 20px 5px 0 5px; }
#sidebar a { font-weight: normal; font-size: 8pt; }

#container.forums #content { width: 75%; border-right: 5px solid #f3f3f3; }
#actions .sections.entries { width: 17%; float: right; }
#container.forums #sidebar { width: 17%; float: right; overflow: hidden; }
#container.forums #sidebar p { padding-left: 5px; }

#container.entries #content { margin-left: 18%; width: 72%; padding-left: 30px; border-left: 5px solid #f3f3f3; min-height: 20em; }
#container.entries #actions #links { float: right; }
#container.entries #sidebar { width: 17%; float: left; overflow: hidden; }

#sidebar .recent_threads ul { padding-left: 15px; }
#sidebar .recent_threads li { margin-bottom: 5px; }
#sidebar .recent_threads li a {  }

/* Misc */
.static_page { width: 500px; padding-left: 15px; }
.static_page p { line-height: 1.4em; }
.static_page .footnotes { font-size: smaller; }