/* General */
html, body { margin: 0; padding: 0; }
body { background-color: #fff; color: #333; }

body, p/*, ol, ul, td*/ { font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; }

pre { background-color: #eee; padding: 10px; font-size: 11px; }

a { color: #000; }
a:visited { color: #666; }
a:hover { background-color: #ffa; }

abbr { border-color: #ddd; }

.clear { clear: both; }
.centered { margin: 0 auto; }
.half { width: 49%; }
#facebox .half { width: 100%; } /* lame reset */

/* Layout */
#container { }

#header { background: #225; color: #fff; padding: 1em 1.5em 0em; height: 4em; }
#header #logo { float: left; }
#header h1 { color: white; font-size: 2em; font-family: "Franklin Gothic", "Courier"; letter-spacing: 2px; text-transform: uppercase; padding: 0; margin: 0; }
#header h1 a, #header h2 a { color: #efe; text-decoration: none; }
#header h1 a:hover, #header h2 a:hover { background-color: transparent; color: #ffa; }
#header h2.byline { color: white; font-size: 1.3em; font-weight: normal; font-family: serif; font-style: italic; margin: 5px 0 0 0; }
#header h2 a.read_more { text-decoration: underline; margin-left: 5px; font-size: 86%; }

#header #navigation { text-align: right; margin-top: -6px; }
#header #navigation .email { font-family: serif; font-style: italic; font-size: 12pt; }
#header #navigation ul li { display: inline; font-size: 10pt; }
#header #navigation ul li a { padding: 2px 0px 1px; text-decoration: none; color: #fff; margin-right: 5px; margin-left: 2px; border-bottom: 1px dotted #a0a0a0; font-family: "Andale Monaco", serif; font-size: 12pt; }
#header #navigation ul li a:hover { background-color: #ffa; color: #444; }

#header #search { float: right; padding: 7px 10px 0 20px; }
#header #search input#q { color: #aaa; font-size: 8pt; }


#footer { clear: both; font-size: 8pt; color: #ccc; margin-top: 7em; padding: 1em 1em; text-align: right; }
#footer a { color: #aaa; }

/* Sub-header */
.flash { position: absolute; top: 0; width: 95%; text-align: center; opacity: 0.85; font-weight: bold; padding: 0.5em 2em; }
.flash.notice  { background-color: #ffe; color: #555; }
.flash.alert   { background-color: #eaa; color: #fff; }

#content #actions { padding: 7px 0 0 5px; }
#content #actions a, a.yellow.button { display: inline; margin-right: 5px; font-size: 9pt; background-color: #F0F070; color: #555; border: 1px solid #cfcfcf; padding: 5px 5px 3px; text-decoration: none; font-weight: bold; font-family: sans-serif; }
#content #actions a:hover, a.yellow.button:hover { background-color: #ffa; color: #444; }

#sections { background-color: #334; height: 34px; overflow: hidden; padding-left: 12px; }
#sections .section { float: left; margin-top: 8px; margin-right: 10px; }
#sections .section a { color: #fff; font-weight: bold; padding: 10px 10px 10px; margin: 0; text-decoration: none; font-size: 12pt; font-family: sans-serif; }
#sections .section a:hover { background-color: transparent; color: #ffa; }
#sections .section a.current { background-color: #fff; color: #222; border-bottom: 0; }
#sections .section a.current:hover { background-color: #fff; color: #7a7; }

/* Main */
#content { padding: 0.5em 4em 0 0.8em; }
#content a:hover { background-color: #ffa; color: #555; }

#content .empty { font-size: 16pt; }
#content a.button { background-color: #666; color: #fff; padding: 0.4em 0.5em; text-decoration: none; }
#content a.button:hover { background-color: #f0f; }

#content .new { margin: 1em 0em 3em; }

/*#content .threads { font-size: 11pt; }*/
#content .threads li { line-height: 1.3em; margin-bottom: 20px; }
#content .threads li a { margin-left: 1px; margin-right: 0px; }
#content .threads li ul.posts { padding-left: 1em; }
#content .threads li ul.posts li { line-height: 2em; font-size: 8pt; margin: 0 0 0 8px; list-style: disc; }

#content .threads .reply.thread_reply a { font-size: 8pt; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #faf; }
#content .threads span.meta { color: #c4c4c4; font-size: 8pt; margin-left: 4px; }
#content .threads span.reply_count { color: #ccc; }
#content .threads span.created_at { visibility: hidden; }
#content .threads li:hover span.created_at { visibility: visible; }

#content .threads a.action { font-weight: normal; text-decoration: none; font-size: 7pt; line-height: 7pt; border-bottom: 1px dotted #faf; }
#content .threads a.reply { color: #993; }
#content .threads a.sticky { color: #939; }
#content .threads a.permalink { color: #399; }

/* Left-right pane styles... shoutouts to #newtwitter */
#sidebar { background-color: #f9f9f9; font-size: 8pt; padding: 20px 5px 0 5px; }
#sidebar a { font-weight: normal; font-size: 8pt; }

#container #content { width: 75%; }
#container #sidebar { width: 17%; float: right; overflow: hidden; padding-left: 20px; border: 5px solid #f3f3f3; border-top: 0; border-right: 0; }
#container #sidebar p { padding-left: 5px; }

#sidebar .recent_threads ul { padding-left: 15px; }
#sidebar .recent_threads li { margin-bottom: 5px; }
#sidebar .recent_threads li a {  }

/* Entries-specific */
#entry { padding: 1.5em 0 0 1.5em; }
#entry .summary, #entry .body { width: 420px; margin: 1.5em 0; }

/* Misc */
.static_page { width: 500px; padding-left: 15px; }
.static_page p { line-height: 1.4em; }
.static_page .footnotes { font-size: smaller; }