.static_page
  %h1 About

  %p
    The topic is Internet startups, technology & related.

  %p
    There are no logins required. Accounts are provided so you can keep track of your posts
    and other threads you're interested in, via stickies. We would recommend setting up a new
    email address if you are paranoid (we are).

  %p
    Server logs are erased daily. Maintaining a safe & secure place for open discussion
    about this subject is important to us, and we take great pains to keep
    the amount of information we store to an absolute minimum.

  %p
    We welcome feedback, questions & bug reports: <a href="mailto:starupchan@gmail.com">startupchan@gmail.com</a>

  %p
    Enjoy.

  %p.footnotes
    [1] KEEP IT REAL

