.static_page
  %h1 About

  %p
    The topic is Internet startups & related.

  %p
    There are no logins required, and accounts are provided only to help you keep track of your own posts
    and threads you're interested in. We would recommend using a fake email address if you are paranoid (we are).

  %p
    Server logs are erased daily. Maintaining a safe & secure place for open discussion
    about this subject is as important to us as it is to you,and we take great pains to keep
    the amount of information we store to an absolute minimum.

  %p
    Please note, however, that we do have moderators. Blatantly off-topic posts are
    are subject to deletion, and offensive user will be banned, either temporarily
    or permanantly. We use this sparingly.

  %p
    We creators wish to remain anonymous ourselves, but can be contacted at
    <a href="mailto:starupchan@gmail.com">startupchan@gmail.com</a>

  %p
    Enjoy.

  %p.footnotes
    [1] e.g. this can get us in trouble. Keep it real.

