%h1 About this Internet website

%p There are no logins required and old posts and server logs are erased daily.

%p Have a nice day

%p= image_tag("http://www.dvdnear.com/images/Breakdance-Step-by-Step-B0001EK9VK-L.jpg")
