%ol.threads
  = render :partial => 'forum_threads/thread', :object => @thread

- if is_admin?
  %p.admin
    = link_to 'Edit', edit_forum_thread_path(@thread)
    \|
    = link_to 'Back', forum_threads_path